In [344]:
import json
from pandas import *
import os
import sys
%load_ext autotime

The autotime extension is already loaded. To reload it, use:
  %reload_ext autotime
time: 24 ms

In [2]:
f = open('meta_Clothing_Shoes_and_Jewelry.json').readlines()

In [334]:
keys = ["'asin':"
, "'title':"
, "'price':"
, "'imUrl':"
, "'related':"
, "'salesRank':"
, "'brand':"
, "'categories':"
, "'description':"]

time: 1.22 ms

In [338]:
def extract_key_value(kv, item_dict):
    kv_split = kv.split(": ")
    k = kv_split[0][1:].replace("'",'')
    v = ": ".join(kv_split[1:]).replace("''","','")
    if v[0] == "'":
        v = v[1:-1]
    item_dict[k] = v
    return item_dict

def make_item_dict(item):
    item_dict = {}
    curr = ''

    for i in item:
        key_found = [k for k in keys if k in i]
        if len(key_found) == 1:
            if curr != '':
                item_dict = extract_key_value(curr, item_dict)
            curr = i
        elif len(key_found) == 0:
            curr += i
        else:
            print 'TOO MANY KEYS'
            print i
            print item
            sys.exit(0)
    
    return item_dict

time: 14.6 ms

In [341]:
df = DataFrame.from_dict({i: make_item_dict(l[1:-2].split(', ')) for i, l in enumerate(f)}, orient = 'index')

time: 2min 30s

In [343]:
df.to_csv('metadata.csv')

time: 24.2 s

In [347]:
import tarfile
tar = tarfile.open("pics.tgz")
# pics = tar.getmembers()

time: 9min 21s

In [364]:
pics_names_all = [p.replace('pics/','').replace('.jpg','') for p in tar.getnames() if '.jpg' in p]

time: 1.63 s

In [371]:
df.loc[:, 'pic_downloaded'] = df.loc[:, "asin'"].apply(lambda x: x in pics_names_all)

time: 7h 14min 26s

In [369]:
df.head()

,title',brand',price',asin',related',imUrl',salesRank',categories',description',pic_downloaded
0,Purple Sequin Tiny Dancer Tutu Ballet Dance Fa...,Big Dreams,6.99,0000037214,"{'also_viewed': ['B00JO8II76','B00DGN4R1Q','B0...",http://ecx.images-amazon.com/images/I/31mCncNu...,{'Clothing': 1233557},NaN,NaN,True
1,Ballet Dress-Up Fairy Tutu,Boutique Cutie,6.79,0000031887,"{'also_bought': ['0000031852','0000031895','00...",http://ecx.images-amazon.com/images/I/314qZjYe...,{'Sports &amp; Outdoors': 8547},"[['ClothingShoes & Jewelry','Girls','Clothing'...",NaN,True
2,SHINING IMAGE HUGE PINK LEATHER JEWELRY BOX / ...,NaN,64.98,0123456479,NaN,http://ecx.images-amazon.com/images/I/413tGhqo...,{'Kitchen & Dining': 16987},"[['ClothingShoes & Jewelry','NoveltyCostumes &...",Elegance par excellence. Hand-crafted of the f...,True
3,"""RiZ Women's Beautify Crafted &frac12; Rimmed ...",NaN,NaN,0456844570,"{'also_viewed': ['B008MTRT1O','B00BUG47S4','B0...",http://ecx.images-amazon.com/images/I/31QZTHxv...,{'Clothing': 1180499},NaN,NaN,True
4,Lantin White Visor Wrap Around Ski Style Aviat...,NaN,NaN,0456808574,"{'also_viewed': ['B00A6JD8EA','B00BFL4FTA','B0...",http://ecx.images-amazon.com/images/I/31UsrgT5...,{'Clothing': 1038084},NaN,NaN,True

time: 34.4 ms

In [379]:
df.loc[:, 'boots'] = df.loc[:, "title'"].apply(lambda x: False if type(x) is float else 'boots' in x.lower())

time: 1.37 s

In [374]:
df.to_csv('metadata_with_others.csv')

time: 43.5 s

In [380]:
df.boots.value_counts()

False    1492140
True       11244
Name: boots, dtype: int64

time: 73.9 ms

In [381]:
df.pic_downloaded.value_counts()

True     1503305
False         79
Name: pic_downloaded, dtype: int64

time: 67.9 ms

In [382]:
boots = df[df.boots == True]

time: 35.1 ms

In [383]:
boots.head()

,title',brand',price',asin',related',imUrl',salesRank',categories',description',pic_downloaded,boots
1139,Justin Boots Black Iguana Lizard,NaN,329.95,B0000A1R6F,NaN,http://ecx.images-amazon.com/images/I/51AutsCt...,{'Shoes': 249279},NaN,NaN,True,True
1141,"""Justin Boots Men's Classic Western Boot""",NaN,NaN,B0000A1RDO,"{'also_bought': ['B000E9626I','B0041T42DC']'al...",http://ecx.images-amazon.com/images/I/41zrtA71...,{'Shoes': 53027},NaN,NaN,True,True
1142,"""Justin Boots Men's Classic Western Boot""",NaN,NaN,B0000A1REG,"{'also_bought': ['B000E9626I','B0041T42DC']'al...",http://ecx.images-amazon.com/images/I/41zrtA71...,{'Shoes': 53027},NaN,NaN,True,True
2134,"""Children's Ostrich-Print Cowboy Boots-peanut ...",NaN,NaN,B0000CH8HL,"{'also_bought': ['B00551RXJK','B002LMHSEG','B0...",http://ecx.images-amazon.com/images/I/21M7uJMJ...,{'Shoes': 89070},NaN,NaN,True,True
2785,"""Men's Itasca Waterproof Swampwalker II Rubber...",NaN,NaN,B0000WYVSA,"{'also_viewed': ['B002OSXDSC','B002BH4GAU','B0...",http://ecx.images-amazon.com/images/I/41S6OxKc...,{'Shoes': 89433},NaN,NaN,True,True

time: 43.4 ms

In [384]:
boots.to_csv('boots.csv')

time: 222 ms

In [404]:
boots_pics = boots[boots.boots == True].loc[:, "asin'"].values

time: 11.6 ms

In [405]:
boots_pics[:5]

array(['B0000A1R6F', 'B0000A1RDO', 'B0000A1REG', 'B0000CH8HL', 'B0000WYVSA'], dtype=object)

time: 19.6 ms

In [ ]:
[tar.extract('pics/{0}.jpg'.format(b)) for b in boots_pics]

### Picking back up