In [3]:
from pandas import *
import numpy as np

In [4]:
f = open('/mnt/amazon/data/features_text.txt').readlines()

In [5]:
len(f)

11180

In [7]:
df_dict = {}
for r in f:
    row = r.split("'")
    features = [np.float64(f.replace('(','').replace(',)','')) for f in row[2][3:-3].split(', ')]
    df_dict[row[1]] = features

In [8]:
df = DataFrame.from_dict(df_dict, orient = 'index')
df.index.name = 'asin'

In [9]:
df.shape

(11180, 4096)

In [12]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,4086,4087,4088,4089,4090,4091,4092,4093,4094,4095
asin,,,,,,,,,,,,,,,,,,,,,
B009XSN76O,0.0000,0.0000,0.0000,0,0.000,0.0,0.0000,0.0000,1.9695,0.0000,...,0,0,0,0,0.0000,1.2840,0,1.0314,0.0000,0
B0092OQN4C,1.2842,0.0000,0.0000,0,0.000,0.0,0.8610,1.8311,0.0000,1.7899,...,0,0,0,0,0.0000,0.0000,0,0.5421,0.6577,0
B00AJ1A23A,0.0000,3.2907,1.7814,0,0.000,0.0,0.4033,0.0000,0.0000,0.0000,...,0,0,0,0,0.5277,0.0000,0,0.0000,0.0000,0
B005IYS5ZA,0.0000,0.8051,0.0000,0,0.000,0.1,0.0000,0.3484,0.0000,1.3334,...,0,0,0,0,0.0000,3.2731,0,0.0507,0.0000,0
B007KHXTXQ,0.0000,0.0000,2.9935,0,1.199,0.0,0.0000,0.0000,2.8597,0.0000,...,0,0,0,0,2.6146,0.0000,0,0.0201,0.0000,0

In [11]:
df.to_csv('/mnt/amazon/data/boots_features.csv')